[project]
	description = Digital timing diagram in your browser
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/daiguangbao
[access "refs/for/refs/*"]
	read = group user/daiguangbao
	push = group user/daiguangbao
	label-Code-Review = -2..+2 group user/daiguangbao
	label-Verified = -1..+1 group user/daiguangbao
	rebase = group user/daiguangbao
	removeReviewer = group user/daiguangbao
	submit = group user/daiguangbao
[access "refs/heads/*"]
	read = group user/daiguangbao
	create = group user/daiguangbao
	push = +force group user/daiguangbao
	pushMerge = group user/daiguangbao
[access "refs/tags/*"]
	push = +force group user/daiguangbao
	pushTag = group user/daiguangbao
	pushSignedTag = group user/daiguangbao
